 
 *{padding: 0px;
    margin: 0px;
}

 
 body{
    
    padding-top: 0%;
     
     }

   .containerUP{ 
    padding-left: 150px;
    padding-right: 150px;
    background-color: #FED700;
   }
 


 .container1{
      margin-top: 0%;
     height: 744px;
     width: 100%;
  }
 .header{
    object-fit:cover;
     display: flex; 
     justify-content: space-between;
     width: 100%;
     height: 152px;
  }


  h1{
        font-family: Nunito;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 52px;
        letter-spacing: 0em;
        text-align: left;

    
  }
  .mainLogo{
 margin-top: 10px;
  }
 h2{
     
    margin-top: 40px;
 
     }
 
.minilogo{display: flex;
    justify-content: space-between;
    margin-top: 40px;
   }
    .ic-favorites-babllike.png{
         margin-left: 10px;
    }
    .ic-cart-bablbasket{
         margin-left: 10px;
    }
    .portfolio{
        margin-top: 6px;
         margin-left: 10px;
    }



 .search-box{
     
    background-color: white ;
    border-radius: 40px;
    height: 30px;
    padding: 10px;
    margin-top: 35px;
  }
  .search-bth{position: relative;
      color: white;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
 
  }
  .fas{position: absolute;
      margin-left: 15px;
      margin-top: 7px;
  }
  .search-txt{
       border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: black;
      font-size: 16px;
      transition: 0,4s;
       width: 350px;
        margin-top: 6px;

  }



  
 .midl{
     display: flex;
     justify-content: space-between;
     width: 100%;
     height: 460px;
     

 }

                        .left{
                            height: 460px;
                            width: 50%;}
                        .right{
                            margin-top: 100px;
                             
                            height: 460px;
                            width: 50%;

                        
                        }
                        .buttomLeft{margin-top: 70px;
                            background-color: white;
                            height: 56px;
                            width: 154px;
                            left: 0px;
                            top: 272px;
                            border-radius: 60px;
                            padding: 16px, 16px, 16px, 28px; 
                            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

                        }




 .footer{
     background-color: white;
     display: flex;
     justify-content: space-around;
     width: 90%;
     height: 132px;
     height: 132px;
     width: 100%;
     left: 16px;
     top: 612px;
     border-radius: 20px;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


    
 


      
      
 } 
 .footericons{
     image-rendering: pixelated;
     margin-top: 20px;
  }
  .delicacy{
       margin-left: 40px;
      margin-right: 40px;
  }
  .toys{
    margin-left: 40px;
    margin-right: 40px;

  }
  .oil{
      margin-left: 20px;
  }









  .container2{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 0%;
    height: 890px;
    }

    .midl1{
        height: 50px;
        margin-top: 40px;
    }
   
  .banner{
    image-rendering: pixelated;

      margin-top: 40px;
      width: 100%;
  }
  .banner2{     image-rendering: pixelated;

      margin-right: 20px;
      width: 480px;
   }
  .banner3{
    image-rendering: pixelated;

    width: 480px;
  }
  .down1{
      margin-top: 30px;
      display: flex;
       height: 220px;
   }
    
   
   
        .towar{
       display: flex;
       justify-content: space-between;
       width: 100%;
   }
   .towar1{ object-fit:cover;

       display: flex;
       flex-direction: column;
       justify-content: space-around;
    height: 300px;
    width: 100%;
    }
   .towar2{
    height: 300px;
    width: 100%;
    }
   .towar3{
    height: 300px;
    width: 100%;
    }
   .towar4{
    height: 300px;
    width: 100%;
    }





    .container3{position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 150px;
        padding-right: 150px;
        width: 77%;
        height: 350px;
      }

      
      .midl3{height: 30px;
        margin-top: 80px;

      }

    .lacomsta1{
        margin-top: 50px;
        height: 300px;
        width: 230px;
        background-color: tomato;

    }
    .lacomsta2{
        margin-top: 50px;
        height: 300px;
    width: 230px;
        background-color: tomato;

    }
    .lacomsta3{
        margin-top: 50px;
        height: 300px;
        width: 230px;
        background-color: tomato;

    }
    .lacomsta4{
        margin-top: 50px;
        height: 300px;
         width: 230px;
         background-color: tomato;

    }

    .container4{
        position: relative;
        display: flex;
        flex-wrap: wrap;
justify-content: space-between;
        padding-left: 150px;
        padding-right: 150px;
        width: 77%;
        height: 350px;
    }
    .down3{
        margin-top: 50px;

        display: flex;
         height: 220px;
        margin-bottom: 30px;}


    .banner31{     image-rendering: pixelated;

      margin-right: 20px;
      height: 210px;
      width: 480px;
   }
  .banner32{
    image-rendering: pixelated;
    height: 210px;
    width: 480px;
  }
 
 
 .container5{  
    image-rendering: pixelated;
    position: relative;
    display: flex;
    flex-wrap: wrap;
justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
 }
.midl4{
    height: 50px;
     margin-top:250px;
}
.midl5{
    height: 40px;
    margin-top: 40px;
}

 


.container6{
    display: flex;
    image-rendering: pixelated;

    padding-left: 150px;
    padding-right: 150px;
 
    height: 460px;
 }

 .container7{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    width: 77%;
    height: 350px;

 }
  


   .mini{
        
       display: flex;
       justify-content: space-between;
       height: 200px;
    }
   .mini1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
       height: 100%;
       width: 30%;
    }
   .mini2{
       margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 15%;
 }
   .mini3{
    margin-left: 130px;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
    
.mini4{
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




.left1{
    height: 460px;
    width: 50%;}
.right2{
    margin-top: 100px;
     
    height: 460px;
    width: 60%;
}


.FOOTER1{
     padding-left: 150px;
        padding-right: 150px;
    background-color: #FED700;
    padding-bottom: 50px;
}
 .c1{
     background-color: yellow;
 }